* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, #001F3F, #003366);
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
    }
    
    .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  
  }
  .sidebar {
    height: 100%;
    width: 60px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px; 
    padding: 5px; 
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    transition: all 0.3s ease;
  }
  
  .sidebar a img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin-bottom: 3px;
  }
  
  .sidebar a:hover {
    background-color: cyan;
    color: white;
    padding: 10px; 
    border-radius: 50%;
  }
  
