body {
    background: url("/background.png");
    background-attachment: fixed;
}

nav {
    margin: 15px;
    padding: 10px;
    background: white;
    border-radius: 20px;
}

#nav-btn-1 {
    background:white;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}
#nav-btn-2 {
    background:white;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}
#nav-btn-3 {
    background:white;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}
#nav-btn-4 {
    background:white;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}
#nav-btn-5 {
    background:white;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}

#title-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin: 15px;
}

button:hover {
    transition: 0.5s;
    font-size: large;
}

button {
    cursor: pointer;
}

#description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    margin: 15px;
    padding: 10px;
}
#welcome-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.game-card {
    width: 350px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.game-card-center {
    width: 350px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;

      .search-container {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search-input {
    flex: 1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
  }

  .search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
      
    .search-button:hover {
    background-color: #45a049;
}
